/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
@media (min-width: 600px) and (max-width:1000px){
 body{
   width: 900px;
   height: 900px;
 }
 #adjustment{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
  }
  footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
 }

@media (min-width: 1000px) and (max-width:1200px){
  body{
    width: 1000px;
    height: 1000px; 
  }
  #adjustment{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
  }
  footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
}
.header{
  height: 240px;
  background-image: url("../images/bgtile.png");
  background-repeat:repeat-x;
  position: relative;
}
#adjustment{
 display: flex;
 flex-direction: row;
 justify-content: center;
}
.phones-img{
  height: 480px;
  width: auto;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 75px;
  margin-bottom: 20px;
}

.right{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.login-btn{
  background-image: url(../images/home.png);
  width: 100px;
  height: 40px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 4px center;
  text-align:center;
  background-color:#1c5380;
  justify-content: stretch;
  padding-left: 38px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: #06365f;
}
#header{
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

.login-img{
  margin-top: 70px;
  margin-right: 120px;
}

.box{
  background-color: white;
  width: 500px;
  height : 500px;
  padding: 0 20px 0;
  border-radius: 8px;
  border: solid;
  border-image-source: url(../images/frame.png);
  border-image-slice: 27;
}

h1{
  color: #06365f;
  font-size: 24px;
}

p{
font-size: 15px;
}

.download-img{
margin-top: 40px;
padding:10px;
display: flex;
flex-flow: row, nowrap;
align-items: flex-start;
justify-content: space-evenly; 
}

.footer{ 
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  color:#06365f;
}

a{
  padding-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #1c5380;
}
	
#cpr{
  color: grey;
  padding-left: 40px;
  text-transform: uppercase;
  opacity: 0.5;
}